<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ " /" | relative_url }}">{{ site.title | escape }}</a>


    <nav>
      <div class="topnav" id="myTopnav">
        {% for page in site.header_pages %}
        <div class="dropdown">
          <button class="dropbtn">
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          </button>
          {% if page.children %}
          <div class="dropdown-content">
            {% for child in page.children %}
            <a href="{{ child.url }}">{{ child.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
    <script>
      /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>

</header>

