---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}


  {{ content }}

  {%- if paginator.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Beiträge" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">« Neuere Beiträge</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Ältere Beiträge »</a>
      {% endif %}
    </div>
  {%- endif -%}
</div>

<div class="tool-tabs">
  <h2>Digitale Hilfen</h2>
  
  <div class="tab-buttons-homepages">
    <button class="tab-button-homepage active" data-tab="schulleitung">Schulleitung</button>
    <button class="tab-button-homepage" data-tab="anwendungen">Anwendungen</button>
    <button class="tab-button-homepage" data-tab="oer">OER</button>
    <button class="tab-button-homepage" data-tab="moodle">Moodle</button>
  </div>

  <div class="tab-content-homepage active" id="schulleitung">
    <div class="cards-container">
      <div class="card">
        <img src="/assets/images/sport.png" alt="Sportkoppeln">
        <h3><a href="/sportkoppeln/">Sportkoppeln</a></h3>
        <p>Planung geschlechtergetrennter Koppeln für den Sportunterricht mit automatischer Berechnung</p>
      </div>
      <div class="card">
        <img src="/assets/images/meeting.png" alt="Konferenz">
        <h3><a href="/klassenkonferenzen_planen/">Klassenkonferenzen</a></h3>
        <p>Erstellung automatisch optimierter Zeitpläne für Klassenkonferenzen</p>
      </div>
      <div class="card">
        <img src="/assets/images/nummern.png" alt="Nummern">
        <h3><a href="/klassenmixer/">Klassen-Mixer</a></h3>
        <p>Schülern zufällige Nummern zuordnen – z. B. für Sitzpläne, Referate oder Prüfungspläne</p>
      </div>
    </div>
  </div>

  <div class="tab-content-homepage" id="anwendungen">
    <div class="cards-container">
      <div class="card">
          <img src="/assets/images/slider.png" alt="Slider">
        <h3><a href="/didaktischer-schieberegler/">Didaktischer Schieberegler</a></h3>
        <p>Visualisiere didaktische Entscheidungen zwischen Strukturierung und Selbststeuerung.</p>
      </div>
      <div class="card">
        <img src="/assets/images/counter.png" alt="Teampunkte">
        <h3><a href="/teampunkte/">Teampunkte</a></h3>
        <p>Teampunkte an Gruppen im Unterricht – live eingeben.</p>
      </div>
      <div class="card">
         <img src="/assets/images/python.png" alt="Coding">
        <h3><a href="/python_web_editor/">Python Web Editor</a></h3>
        <p>Online-Editor für Python-Code – mit Brython direkt im Browser.</p>
      </div>
    </div>
  </div>

  <div class="tab-content-homepage" id="oer">
    <div class="cards-container">
      <div class="card">
        <img src="/assets/images/rechnung.png" alt="Rechnung">
        <h3><a href="https://oer.fdagner.de/bwr/">BwR-Helfer</a></h3>
        <p>Belege, Aufgaben und Vorlagen für den BwR-Unterricht erstellen.</p>
       
      </div>
      <div class="card">
          <img src="/assets/images/klima.png" alt="Klima">
        <h3><a href="https://oer.fdagner.de/klimadiagramme/">Klimadiagramme</a></h3>
        <p>Freie Klimadiagramme für den Unterricht</p>
      </div>
      <div class="card">
            <img src="/assets/images/farben.png" alt="Farben">
        <h3><a href="https://oer.fdagner.de/color-models/">Farbmodelle mischen</a></h3>
        <p>Farbmodelle interaktiv</p>
      </div>
    </div>
  </div>

  <div class="tab-content-homepage" id="moodle">
    <div class="cards-container">
      <div class="card">
        <h3><a href="/csv-moodle-konverter/">CSV-Moodle-Konverter</a></h3>
         <p>Mit dem Konverter kann man CSV-Daten in verschiedene Moodle-Import-Formate umwandeln. </p>
      </div>
      <div class="card">
        <h3><a href="/moodle-datenbank-generator/">Moodle-Datenbank-Aktivität-Generator</a></h3>
         <p>Moodle-Datenbankvorlagen erstellen.</p>
      </div>
      <div class="card">
        <h3><a href="/kursbild-generator/">Kursbild-Designer</a></h3>
        <p>Kursbilder für ByCS Lernplattform oder ByCS Drive erstellen.</p>
      </div>
    </div>
  </div>
</div>
